* { 
    font-family: arial; 
    margin: 0px;
    padding: 0px;
}
body, html { 
    height: 100%;
    margin: 0px; 
    background: #EEE ;
}
header {
    width: 100%; height:50px; 
    background: #3263c0;
}
#menuicon {
    position: relative; float : left;
    margin: 10px;
}
#headertext {
    position: relative; float : left;
    font-size: 18pt; 
    color: #FFF;
    margin: 10px auto auto 10px;
}


#listPlayer{
    width: 22%;
    float: left;
    height: 590px; 
    border-bottom: solid 2px;
    margin-top: 5px;
    overflow: scroll;
    margin-left: 5px;
    background-color:#ffffff;
}


#fila1{
    float: left;
    border-bottom: solid 1px;
    margin-top: 5px;
    margin-left: 5px;
    background-color:#ffffff;
    text-align:center;
}

#fila2{
    width: 20%;
    float: left;
    height: 35px; 
    border-bottom: solid 1px;
    margin-top: 5px;
    margin-left: 5px;
    background-color:#ffffff;
    text-align: center;
}

#fila3{
    width: 10%;
    float: left;
    height: 35px; 
    border-bottom: solid 1px;
    margin-top: 5px;
    margin-left: 5px;
    background-color:#ffffff;
    text-align: center;
}

#fila4{
    width: 40%;
    float: left;
    height: 35px; 
    border-bottom: solid 1px;
    margin-top: 5px;
    margin-left: 5px;
    background-color:#ffffff;
    text-align:center;
}

#fila5{
    width: 40%;
    float: left;
    height: 35px; 
    border-bottom: solid 1px;
    margin-top: 5px;
    margin-left: 5px;
    background-color:#ffffff;
    text-align:center;
}

#fila6{
    width: 10%;
    float: left;
    height: 35px; 
    border-bottom: solid 1px;
    margin-top: 5px;
    margin-left: 5px;
    background-color:#ffffff;
    text-align: center;
}

#fila7{
    width: 40%;
    float: left;
    height: 35px; 
    border-bottom: solid 1px;
    margin-top: 5px;
    margin-left: 5px;
    background-color:#ffffff;
    text-align:center;
}

#fila8{
    width: 40%;
    float: left;
    height: 35px; 
    border-bottom: solid 1px;
    margin-top: 5px;
    margin-left: 5px;
    background-color:#ffffff;
    text-align:center;
}

#fila9{
    width: 7%;
    float: left;
    height: 35px; 
    border-bottom: solid 1px;
    margin-top: 5px;
    margin-left: 5px;
    background-color:#ffffff;
    text-align: center;
}
#nameTeam{
    border: solid 1px rgb(0,0,0,0.11);
    padding: 20px;
    color:#fff;
    background-color: #3263c0;
    text-align:center;
}


#ComboBox{
    border: solid 1px rgb(0,0,0,0.11);
    padding: 20px;
    color:#fff;
    background-color: #3263c0;
    text-align:center;
    margin: 10px;
}

#nameTeam img{
    width: 30px;
}

.namePlayers{
    border: solid 1px ;
    padding: 10px;
    cursor: pointer;
}

#conten-info-player{
    background:#fff;
}

#inf-perso-Player{
    margin: 5px 10px;
    display: block;
}

#tbplayer{
    width: 90%;
    float: right;
    border: solid 1px rgb(0,0,0,0.21);
    margin-top:5px;
    background: #FFF;
}


#statics-player{
    margin: 30px;
}

#tbstatics-player{
    margin-top: 5px;
    width: 80%;
    border: solid 1px rgb(0,0,0,0.21);
    float: right;
    height: 50px;
}

#plImg, #tdName{
    text-align: center;
}

#chart {
    position: relative; float: left;
    width: calc(70% - 100px); height:500px; 
    margin: 50px;
    margin-left: 340px;
    background: #FFF;
    border:2px solid #DDD;
    margin-top: 50px;
}
#svgchart {
    width: 62%;
    height: 100%;
}


#svg {
    position: relative; float: left;
    width: 100%;
    height: 80%;
}

#tbplayer{
    width: 77.7%;
    border: solid 2px rgb(0,0,0,0.21);
    height: 50px;
}

#plImg, #tdName{
    text-align: center;
}

#fila1{
    border: 1px;
}

.axisline{
    stroke: #000;
}
#userNone{
    height: 100px;
    width: 140px;
}
#graphics{
    height: 300px;
}
.namePlayers:hover{
    background-color: #A68D96;
}

#tbStadistics th, #tbStadistics td{
    text-align: center;
    height: 25px;
    width: 300px;
    border: solid 1px;
}

#tbStadistics th{
    background-color: #65C4EF;
}
#tbStadistics td{
    background-color: #D2EBF6;
}

.namePlayers img{
    position: relative;
    height: 30px;
    float: right;
    top: -24px;
}

#tbHistoryPlayer th, #tbHistoryPlayer td{
    text-align: center;
    height: 25px;
    width: 400px;
    border: solid 1px;
}

#tbHistoryPlayer{
    margin: 1px;
    border-collapse: collapse;
    margin-top: 1px;
}

#tbHistoryPlayer th{
    background-color: #65C4EF;
}
#tbHistoryPlayer td{
    background-color: #D2EBF6;
}
